@import "../themes/index.less";
.issue {
  width: 100%;
  display: block;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.context {
  width: 800px;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

.title a,
.title a:hover {
  color: @heading-color;
  cursor: pointer;
}

.name {
  line-height: 24px;
  display: inline-block;
  margin-left: 1em;
}

.time {
  display: inline-block;
  line-height: 24px;
  padding-left: 2em;
}
