// @import "../../node_modules/antd/dist/antd.less";
@import "~antd/lib/style/themes/default.less";

.italic {
  font-style: italic;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ponter {
  cursor: pointer;
}
